webservices/src/main/resources/wadl/accounts.wadl

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix1="urn:com:bbva:czic:dto:net">
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com:bbva:jee:arq:spring:core:servicing:utils" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com:bbva:jee:arq:spring:core:servicing:utils">
            <xs:element name="money" type="tns:money"/>
            <xs:complexType name="money">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:com:bbva:jee:arq:spring:core:servicing:utils" xmlns:tns="urn:com:bbva:czic:dto:net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com:bbva:czic:dto:net">
            <xs:import namespace="urn:com:bbva:jee:arq:spring:core:servicing:utils"/>
            <xs:element name="AccMovementsResume" type="tns:AccMovementsResume"/>
            <xs:element name="Account" type="tns:Account"/>
            <xs:element name="Activity" type="tns:Activity"/>
            <xs:element name="Balance" type="tns:Balance"/>
            <xs:element name="Check" type="tns:Check"/>
            <xs:element name="Checkbook" type="tns:Checkbook"/>
            <xs:element name="City" type="tns:City"/>
            <xs:element name="Conditions" type="tns:Conditions"/>
            <xs:element name="ContactInfo" type="tns:ContactInfo"/>
            <xs:element name="Contract" type="tns:Contract"/>
            <xs:element name="Country" type="tns:Country"/>
            <xs:element name="Email" type="tns:Email"/>
            <xs:element name="EnumCheckStatus" type="tns:EnumCheckStatus"/>
            <xs:element name="EnumCheckbookStatus" type="tns:EnumCheckbookStatus"/>
            <xs:element name="EnumContactSourceType" type="tns:EnumContactSourceType"/>
            <xs:element name="EnumMonth" type="tns:EnumMonth"/>
            <xs:element name="EnumPhoneNumberType" type="tns:EnumPhoneNumberType"/>
            <xs:element name="Function" type="tns:Function"/>
            <xs:element name="Location" type="tns:Location"/>
            <xs:element name="MonthlyBalances" type="tns:MonthlyBalances"/>
            <xs:element name="Movement" type="tns:Movement"/>
            <xs:element name="Office" type="tns:Office"/>
            <xs:element name="Operation" type="tns:Operation"/>
            <xs:element name="PhoneNumber" type="tns:PhoneNumber"/>
            <xs:element name="Product" type="tns:Product"/>
            <xs:element name="State" type="tns:State"/>
            <xs:complexType name="AccMovementsResume">
                <xs:sequence>
                    <xs:element minOccurs="0" name="income" type="ns1:money"/>
                    <xs:element minOccurs="0" name="outcome" type="ns1:money"/>
                    <xs:element minOccurs="0" name="balance" type="ns1:money"/>
                    <xs:element minOccurs="0" name="month" type="tns:EnumMonth"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MonthlyBalances">
                <xs:sequence>
                    <xs:element minOccurs="0" name="balance" type="ns1:money"/>
                    <xs:element minOccurs="0" name="month" type="tns:EnumMonth"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Check">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="issueDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="value" type="ns1:money"/>
                    <xs:element minOccurs="0" name="status" type="tns:EnumCheckStatus"/>
                    <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Account">
                <xs:complexContent>
                    <xs:extension base="tns:Product">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="tradeBalance" type="ns1:money"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="checkbooks" nillable="true" type="tns:Checkbook"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="tns:enumProductType"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="alias" type="xs:string"/>
                    <xs:element minOccurs="0" name="financialState" type="tns:enumFinancialStatusType"/>
                    <xs:element minOccurs="0" name="visible" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="operable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="balance" type="tns:Balance"/>
                    <xs:element minOccurs="0" name="contactInfo" type="tns:ContactInfo"/>
                    <xs:element minOccurs="0" name="conditions" type="tns:Conditions"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="movement" nillable="true" type="tns:Movement"/>
                    <xs:element minOccurs="0" name="contract" type="tns:Contract"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="enumProductType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="PC"/>
                    <xs:enumeration value="AQ"/>
                    <xs:enumeration value="TC"/>
                    <xs:enumeration value="RQ"/>
                    <xs:enumeration value="LI"/>
                    <xs:enumeration value="LO"/>
                    <xs:enumeration value="SI"/>
                    <xs:enumeration value="ED"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="enumFinancialStatusType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="P"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="Checkbook">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstCheck" type="xs:int"/>
                    <xs:element minOccurs="0" name="lastCheck" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalCheck" type="xs:int"/>
                    <xs:element minOccurs="0" name="requestDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="actualState" type="tns:EnumCheckbookStatus"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="checks" nillable="true" type="tns:Check"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Balance">
                <xs:sequence>
                    <xs:element minOccurs="0" name="total" type="ns1:money"/>
                    <xs:element minOccurs="0" name="availableBalance" type="ns1:money"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ContactInfo">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phoneNumbers" nillable="true" type="tns:PhoneNumber"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="emails" nillable="true" type="tns:Email"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PhoneNumber">
                <xs:sequence>
                    <xs:element minOccurs="0" name="contactSource" type="tns:EnumContactSourceType"/>
                    <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="regionalCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="number" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="tns:EnumPhoneNumberType"/>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Email">
                <xs:sequence>
                    <xs:element minOccurs="0" name="source" type="tns:EnumContactSourceType"/>
                    <xs:element minOccurs="0" name="address" type="xs:string"/>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Conditions">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" type="xs:string"/>
                    <xs:element minOccurs="0" name="category" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                    <xs:element minOccurs="0" name="openingDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="commission" type="xs:string"/>
                    <xs:element minOccurs="0" name="office" type="tns:Office"/>
                    <xs:element minOccurs="0" name="mobilizationConditions" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="activities" nillable="true" type="tns:Activity"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Office">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="location" type="tns:Location"/>
                    <xs:element minOccurs="0" name="postalAddress" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Location">
                <xs:sequence>
                    <xs:element minOccurs="0" name="city" type="tns:City"/>
                    <xs:element minOccurs="0" name="country" type="tns:Country"/>
                    <xs:element minOccurs="0" name="state" type="tns:State"/>
                    <xs:element minOccurs="0" name="postalAddress" type="xs:string"/>
                    <xs:element minOccurs="0" name="category" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="City">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Country">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="states" nillable="true" type="tns:State"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="State">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cities" nillable="true" type="tns:City"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Activity">
                <xs:sequence>
                    <xs:element minOccurs="0" name="operationDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="executionDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="function" type="tns:Function"/>
                    <xs:element minOccurs="0" name="amount" type="ns1:money"/>
                    <xs:element minOccurs="0" name="reference" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Function">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Movement">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                    <xs:element minOccurs="0" name="concept" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="operationDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="sourceReference" type="xs:string"/>
                    <xs:element minOccurs="0" name="destinationReference" type="xs:string"/>
                    <xs:element minOccurs="0" name="operation" type="tns:Operation"/>
                    <xs:element minOccurs="0" name="office" type="tns:Office"/>
                    <xs:element minOccurs="0" name="status" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="ns1:money"/>
                    <xs:element minOccurs="0" name="balance" type="ns1:money"/>
                    <xs:element minOccurs="0" name="numberOfQuotas" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Operation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="code" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Contract">
                <xs:sequence>
                    <xs:element minOccurs="0" name="number" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="EnumMonth">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="JANUARY"/>
                    <xs:enumeration value="FEBRUARY"/>
                    <xs:enumeration value="MARCH"/>
                    <xs:enumeration value="APRIL"/>
                    <xs:enumeration value="MAY"/>
                    <xs:enumeration value="JUNE"/>
                    <xs:enumeration value="JULY"/>
                    <xs:enumeration value="AUGUST"/>
                    <xs:enumeration value="SEPTEMBER"/>
                    <xs:enumeration value="OCTOBER"/>
                    <xs:enumeration value="NOVEMBER"/>
                    <xs:enumeration value="DECEMBER"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="EnumCheckStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="HABILITADO"/>
                    <xs:enumeration value="SOLICITADO"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="EnumCheckbookStatus">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="HABILITADO"/>
                    <xs:enumeration value="SOLICITADO"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="EnumContactSourceType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MOBILE"/>
                    <xs:enumeration value="WEB"/>
                    <xs:enumeration value="THIRD_PARTY"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="EnumPhoneNumberType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MOBILE"/>
                    <xs:enumeration value="LANDLINE"/>
                    <xs:enumeration value="FAX"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8080/czic/accounts">
        <resource path="/V01" id="com.bbva.czic.accounts.facade.v01.impl.SrvAccountsV01">
            <resource path="/{id}">
                <param name="id" style="template" type="xs:string"/>
                <method name="GET" id="getAccount">
                    <request/>
                    <response>
                        <representation mediaType="application/json" element="prefix1:Account"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}/listChecks">
                <param name="accountId" style="template" type="xs:string"/>
                <method name="GET" id="listCheck">
                    <request>
                        <param name="$filter" style="query" default="null" type="xs:string"/>
                        <param name="$status" style="query" default="null" type="xs:string"/>
                        <param name="$paginationKey" style="query" default="null" type="xs:string"/>
                        <param name="$pageSize" style="query" default="null" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}/monthlyBalances">
                <param name="id" style="template" type="xs:string"/>
                <method name="GET" id="getAccountMonthlyBalance">
                    <request>
                        <param name="$filter" style="query" default="null" type="xs:string"/>
                        <param name="$fields" style="query" default="null" type="xs:string"/>
                        <param name="$expands" style="query" default="null" type="xs:string"/>
                        <param name="$sort" style="query" default="null" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}/movementsResumes">
                <param name="id" style="template" type="xs:string"/>
                <method name="GET" id="getAccMovementResume">
                    <request>
                        <param name="$filter" style="query" default="null" type="xs:string"/>
                        <param name="$fields" style="query" default="null" type="xs:string"/>
                        <param name="$expands" style="query" default="null" type="xs:string"/>
                        <param name="$sort" style="query" default="null" type="xs:string"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>