webservices/src/main/resources/wadl/agileOperations.wadl

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix1="http://bbva.com/zic/agileOperations/V01">
	<grammars>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bbva.com/zic/agileOperations/V01" xmlns:ns1="http://bbva.com/eiaq/commons/V01" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://bbva.com/zic/agileOperations/V01">
			<xs:import namespace="http://bbva.com/eiaq/commons/V01"/>
			<xs:element name="destination" type="tns:adaptedIDestinationAdapter"/>
			<xs:element name="origin" type="tns:adaptedIOriginAdapter"/>
			<xs:complexType name="adaptedIOriginAdapter">
				<xs:sequence>
					<xs:element minOccurs="0" ref="ns1:cardNumber"/>
					<xs:element minOccurs="0" ref="ns1:ccc"/>
					<xs:element minOccurs="0" ref="ns1:clabe"/>
					<xs:element minOccurs="0" ref="ns1:creditNumber"/>
					<xs:element minOccurs="0" ref="ns1:mobilePhoneNumber"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="adaptedIDestinationAdapter">
				<xs:sequence>
					<xs:element minOccurs="0" ref="ns1:cardNumber"/>
					<xs:element minOccurs="0" ref="ns1:ccc"/>
					<xs:element minOccurs="0" ref="ns1:clabe"/>
					<xs:element minOccurs="0" ref="ns1:creditNumber"/>
					<xs:element minOccurs="0" ref="ns1:mobilePhoneNumber"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://bbva.com/eiaq/commons/V01" xmlns:tns="http://bbva.com/zic/agileOperations/V01" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://bbva.com/zic/agileOperations/V01">
			<xs:import namespace="http://bbva.com/eiaq/commons/V01"/>
			<xs:import/>
			<xs:element name="agileOperation" type="tns:agileOperation"/>
			<xs:element name="listAgileOperationsOut" type="tns:listAgileOperationsOut"/>
			<xs:complexType name="agileOperation">
				<xs:sequence>
					<xs:element minOccurs="0" name="contractId" type="xs:string"/>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" ref="tns:origin"/>
					<xs:element minOccurs="0" ref="tns:destination"/>
					<xs:element minOccurs="0" name="amount" type="xs:string"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element minOccurs="0" name="transactionDate" type="xs:string"/>
					<xs:element minOccurs="0" name="transactionReference" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="listAgileOperationsOut">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="agileOperations" nillable="true" type="tns:agileOperation"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bbva.com/eiaq/commons/V01" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://bbva.com/eiaq/commons/V01">
			<xs:element name="cardNumber" type="tns:cardNumber"/>
			<xs:element name="ccc" type="tns:ccc"/>
			<xs:element name="clabe" type="tns:clabe"/>
			<xs:element name="creditNumber" type="tns:creditNumber"/>
			<xs:element name="mobilePhoneNumber" type="tns:mobilePhoneNumber"/>
			<xs:complexType name="cardNumber">
				<xs:sequence>
					<xs:element minOccurs="0" name="number" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ccc">
				<xs:sequence>
					<xs:element minOccurs="0" name="bankCode" type="xs:string"/>
					<xs:element minOccurs="0" name="branchCode" type="xs:string"/>
					<xs:element minOccurs="0" name="controlDigit" type="xs:string"/>
					<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="clabe">
				<xs:sequence>
					<xs:element minOccurs="0" name="bankCode" type="xs:string"/>
					<xs:element minOccurs="0" name="regionCode" type="xs:string"/>
					<xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
					<xs:element minOccurs="0" name="controlDigit" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="creditNumber">
				<xs:sequence>
					<xs:element minOccurs="0" name="number" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="mobilePhoneNumber">
				<xs:sequence>
					<xs:element minOccurs="0" name="number" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</grammars>
	<resources base="http://localhost:8080/zic/agileOperations">
		<resource path="/V01" id="com.bbva.zic.agile.operations.facade.v01.impl.SrvAgileOperationsV01">
			<method name="GET" id="getAgileOperations">
				<request>
					<param name="$filter" style="query" type="xs:string"/>
				</request>
				<response>
					<representation mediaType="application/json" element="prefix1:listAgileOperationsOut"/>
				</response>
			</method>
			<method name="POST" id="addAgileOperation">
				<request>
					<representation mediaType="application/json" element="prefix1:agileOperation"/>
				</request>
				<response>
					<representation mediaType="application/json"/>
				</response>
			</method>
			<resource path="/validated">
				<method name="GET" id="validateAgileOperation">
					<request>
						<param name="$filter" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/{agileOperationId}">
				<param name="agileOperationId" style="template" type="xs:string"/>
				<method name="DELETE" id="deleteAgileOperation">
					<request>
						<param name="attributesdeletelist" style="header" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
			<resource path="/{agileOperationId}">
				<param name="agileOperationId" style="template" type="xs:string"/>
				<method name="PUT" id="modifyAgileOperation">
					<request>
						<representation mediaType="application/json" element="prefix1:agileOperation"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>