webservices/src/main/resources/wadl/loan.wadl

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix1="urn:com:bbva:czic:dto:net">
	<grammars>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:com:bbva:jee:arq:spring:core:servicing:utils" xmlns:tns="urn:com:bbva:czic:dto:net" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com:bbva:czic:dto:net">
			<xs:import namespace="urn:com:bbva:jee:arq:spring:core:servicing:utils"/>
			<xs:element name="Account" type="tns:Account"/>
			<xs:element name="Activity" type="tns:Activity"/>
			<xs:element name="Balance" type="tns:Balance"/>
			<xs:element name="BalanceLoan" type="tns:BalanceLoan"/>
			<xs:element name="Check" type="tns:Check"/>
			<xs:element name="Checkbook" type="tns:Checkbook"/>
			<xs:element name="City" type="tns:City"/>
			<xs:element name="Conditions" type="tns:Conditions"/>
			<xs:element name="ContactInfo" type="tns:ContactInfo"/>
			<xs:element name="Contract" type="tns:Contract"/>
			<xs:element name="Country" type="tns:Country"/>
			<xs:element name="Email" type="tns:Email"/>
			<xs:element name="EnumMessageType" type="tns:EnumMessageType"/>
			<xs:element name="EnumThirdPartyType" type="tns:EnumThirdPartyType"/>
			<xs:element name="Executive" type="tns:Executive"/>
			<xs:element name="Extracto" type="tns:Extracto"/>
			<xs:element name="Function" type="tns:Function"/>
			<xs:element name="Holder" type="tns:Holder"/>
			<xs:element name="LeasingResume" type="tns:LeasingResume"/>
			<xs:element name="Loan" type="tns:Loan"/>
			<xs:element name="LoanMovement" type="tns:LoanMovement"/>
			<xs:element name="LoanPayment" type="tns:LoanPayment"/>
			<xs:element name="LoanResume" type="tns:LoanResume"/>
			<xs:element name="LoanTransactionFilter" type="tns:LoanTransactionFilter"/>
			<xs:element name="Location" type="tns:Location"/>
			<xs:element name="Message" type="tns:Message"/>
			<xs:element name="MortageState" type="tns:MortageState"/>
			<xs:element name="Movement" type="tns:Movement"/>
			<xs:element name="Office" type="tns:Office"/>
			<xs:element name="Operation" type="tns:Operation"/>
			<xs:element name="Payment" type="tns:Payment"/>
			<xs:element name="PhoneNumber" type="tns:PhoneNumber"/>
			<xs:element name="Product" type="tns:Product"/>
			<xs:element name="RotaryQuotaMove" type="tns:RotaryQuotaMove"/>
			<xs:element name="State" type="tns:State"/>
			<xs:element name="ThirdParty" type="tns:ThirdParty"/>
			<xs:element name="User" type="tns:User"/>
			<xs:element name="accountBlock" type="tns:accountBlock"/>
			<xs:element name="condition" type="tns:condition"/>
			<xs:element name="identityDocument" type="tns:identityDocument"/>
			<xs:element name="itemCondition" type="tns:itemCondition"/>
			<xs:element name="itemConditionValue" type="tns:itemConditionValue"/>
			<xs:element name="money" type="tns:money"/>
			<xs:element name="optionsList" type="tns:optionsList"/>
			<xs:element name="payee" type="tns:payee"/>
			<xs:complexType name="LoanPayment">
				<xs:sequence>
					<xs:element minOccurs="0" name="loan" type="tns:Loan"/>
					<xs:element minOccurs="0" name="account" type="tns:Account"/>
					<xs:element minOccurs="0" name="amount" type="tns:money"/>
					<xs:element minOccurs="0" name="payee" type="tns:payee"/>
					<xs:element minOccurs="0" name="paymentType" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Loan">
				<xs:complexContent>
					<xs:extension base="tns:Product">
						<xs:sequence>
							<xs:element minOccurs="0" name="debt" type="tns:BalanceLoan"/>
							<xs:element minOccurs="0" name="payment" type="tns:Payment"/>
							<xs:element minOccurs="0" name="status" type="xs:string"/>
							<xs:element minOccurs="0" name="balanceloan" type="tns:BalanceLoan"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Product">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="type" type="xs:string"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element minOccurs="0" name="alias" type="xs:string"/>
					<xs:element minOccurs="0" name="financialState" type="xs:string"/>
					<xs:element minOccurs="0" name="visible" type="xs:boolean"/>
					<xs:element minOccurs="0" name="operable" type="xs:boolean"/>
					<xs:element minOccurs="0" name="balance" type="tns:Balance"/>
					<xs:element minOccurs="0" name="contactInfo" type="tns:ContactInfo"/>
					<xs:element minOccurs="0" name="conditions" type="tns:Conditions"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="movement" nillable="true" type="tns:Movement"/>
					<xs:element minOccurs="0" name="contract" type="tns:Contract"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extracts" nillable="true" type="tns:Extracto"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BalanceLoan">
				<xs:sequence>
					<xs:element minOccurs="0" name="total" type="tns:money"/>
					<xs:element minOccurs="0" name="availableBalance" type="tns:money"/>
					<xs:element minOccurs="0" name="tradeBalance" type="tns:money"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element minOccurs="0" name="amount" type="xs:decimal"/>
					<xs:element minOccurs="0" name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Payment">
				<xs:sequence>
					<xs:element minOccurs="0" name="dueDate" type="xs:string"/>
					<xs:element minOccurs="0" name="paymentDate" type="xs:string"/>
					<xs:element minOccurs="0" name="shortDate" type="xs:string"/>
					<xs:element minOccurs="0" name="fees" type="tns:money"/>
					<xs:element minOccurs="0" name="minimumPayment" type="tns:money"/>
					<xs:element minOccurs="0" name="numbersOfQuota" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Balance">
				<xs:sequence>
					<xs:element minOccurs="0" name="total" type="ns1:money"/>
					<xs:element minOccurs="0" name="availableBalance" type="ns1:money"/>
					<xs:element minOccurs="0" name="tradeBalance" type="ns1:money"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactInfo">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="phoneNumbers" nillable="true" type="tns:PhoneNumber"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="emails" nillable="true" type="tns:Email"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PhoneNumber">
				<xs:sequence>
					<xs:element minOccurs="0" name="contactSource" type="xs:string"/>
					<xs:element minOccurs="0" name="countryCode" type="xs:string"/>
					<xs:element minOccurs="0" name="regionalCode" type="xs:string"/>
					<xs:element minOccurs="0" name="number" type="xs:string"/>
					<xs:element minOccurs="0" name="type" type="xs:string"/>
					<xs:element minOccurs="0" name="primary" type="xs:boolean"/>
					<xs:element minOccurs="0" name="active" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Email">
				<xs:sequence>
					<xs:element minOccurs="0" name="source" type="xs:string"/>
					<xs:element minOccurs="0" name="address" type="xs:string"/>
					<xs:element minOccurs="0" name="primary" type="xs:boolean"/>
					<xs:element minOccurs="0" name="active" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Conditions">
				<xs:sequence>
					<xs:element minOccurs="0" name="type" type="xs:string"/>
					<xs:element minOccurs="0" name="alias" type="xs:string"/>
					<xs:element minOccurs="0" name="category" type="xs:string"/>
					<xs:element minOccurs="0" name="description" type="xs:string"/>
					<xs:element minOccurs="0" name="openingDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="commission" type="xs:string"/>
					<xs:element minOccurs="0" name="office" type="tns:Office"/>
					<xs:element minOccurs="0" name="mobilizationConditions" type="xs:string"/>
					<xs:element minOccurs="0" name="activity" type="tns:Activity"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="holders" nillable="true" type="tns:Holder"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Office">
				<xs:sequence>
					<xs:element minOccurs="0" name="code" type="xs:string"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element minOccurs="0" name="location" type="tns:Location"/>
					<xs:element minOccurs="0" name="postalAddress" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Location">
				<xs:sequence>
					<xs:element minOccurs="0" name="city" type="tns:City"/>
					<xs:element minOccurs="0" name="country" type="tns:Country"/>
					<xs:element minOccurs="0" name="state" type="tns:State"/>
					<xs:element minOccurs="0" name="postalAddress" type="xs:string"/>
					<xs:element minOccurs="0" name="category" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="City">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Country">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="states" nillable="true" type="tns:State"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="State">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="cities" nillable="true" type="tns:City"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Activity">
				<xs:sequence>
					<xs:element minOccurs="0" name="operationDate" type="xs:string"/>
					<xs:element minOccurs="0" name="executionDate" type="xs:string"/>
					<xs:element minOccurs="0" name="function" type="tns:Function"/>
					<xs:element minOccurs="0" name="amount" type="tns:money"/>
					<xs:element minOccurs="0" name="reference" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Function">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="type" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Holder">
				<xs:complexContent>
					<xs:extension base="tns:User">
						<xs:sequence>
							<xs:element minOccurs="0" name="alias" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="User">
				<xs:sequence>
					<xs:element minOccurs="0" name="customerId" type="xs:string"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element minOccurs="0" name="contactInfo" type="tns:ContactInfo"/>
					<xs:element minOccurs="0" name="salesExecutive" type="tns:Executive"/>
					<xs:element minOccurs="0" name="lastAccessDate" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="message" nillable="true" type="tns:Message"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="products" nillable="true" type="tns:Product"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Executive">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element minOccurs="0" name="phone" type="xs:string"/>
					<xs:element minOccurs="0" name="office" type="tns:Office"/>
					<xs:element minOccurs="0" name="email" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="customer" nillable="true" type="tns:ThirdParty"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ThirdParty">
				<xs:sequence>
					<xs:element minOccurs="0" name="customerId" type="tns:User"/>
					<xs:element minOccurs="0" name="type" type="tns:EnumThirdPartyType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Message">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="title" type="xs:string"/>
					<xs:element minOccurs="0" name="template" type="xs:string"/>
					<xs:element minOccurs="0" name="reference" type="tns:EnumMessageType"/>
					<xs:element minOccurs="0" name="time" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="value" type="tns:money"/>
					<xs:element minOccurs="0" name="info" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Movement">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="concept" type="xs:string"/>
					<xs:element minOccurs="0" name="transactionDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="operationDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="sourceReference" type="xs:string"/>
					<xs:element minOccurs="0" name="destinationReference" type="xs:string"/>
					<xs:element minOccurs="0" name="operation" type="tns:Operation"/>
					<xs:element minOccurs="0" name="office" type="tns:Office"/>
					<xs:element minOccurs="0" name="status" type="xs:string"/>
					<xs:element minOccurs="0" name="value" type="tns:money"/>
					<xs:element minOccurs="0" name="balance" type="tns:money"/>
					<xs:element minOccurs="0" name="numberOfQuotas" type="xs:string"/>
					<xs:element minOccurs="0" name="remainingQuotas" type="xs:int"/>
					<xs:element minOccurs="0" name="deb" type="tns:Balance"/>
					<xs:element minOccurs="0" name="numExt" type="xs:string"/>
					<xs:element minOccurs="0" name="creditEquity" type="tns:money"/>
					<xs:element minOccurs="0" name="currentInterest" type="xs:decimal"/>
					<xs:element minOccurs="0" name="arrearsInterest" type="xs:decimal"/>
					<xs:element minOccurs="0" name="settingReassessment" type="xs:decimal"/>
					<xs:element minOccurs="0" name="otherExpenses" type="xs:decimal"/>
					<xs:element minOccurs="0" name="totalAmountPaid" type="xs:decimal"/>
					<xs:element minOccurs="0" name="balanceEquity" type="xs:decimal"/>
					<xs:element minOccurs="0" name="annualEfectiveRate" type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Operation">
				<xs:sequence>
					<xs:element minOccurs="0" name="code" type="xs:string"/>
					<xs:element minOccurs="0" name="description" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Contract">
				<xs:sequence>
					<xs:element minOccurs="0" name="number" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Extracto">
				<xs:sequence>
					<xs:element minOccurs="0" name="externalCode" type="xs:string"/>
					<xs:element minOccurs="0" name="month" type="xs:string"/>
					<xs:element minOccurs="0" name="year" type="xs:string"/>
					<xs:element minOccurs="0" name="generationDate" type="xs:string"/>
					<xs:element minOccurs="0" name="url" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Account">
				<xs:complexContent>
					<xs:extension base="tns:Product">
						<xs:sequence>
							<xs:element minOccurs="0" name="tradeBalance" type="ns1:money"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="checkbooks" nillable="true" type="tns:Checkbook"/>
							<xs:element minOccurs="0" name="id" type="xs:string"/>
							<xs:element minOccurs="0" name="type" type="xs:string"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="blockings" nillable="true" type="tns:accountBlock"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="Checkbook">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="firstCheck" type="xs:string"/>
					<xs:element minOccurs="0" name="lastCheck" type="xs:string"/>
					<xs:element minOccurs="0" name="totalCheck" type="xs:int"/>
					<xs:element minOccurs="0" name="requestDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="deliveryDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="actualState" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="checks" nillable="true" type="tns:Check"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Check">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="issueDate" type="xs:string"/>
					<xs:element minOccurs="0" name="value" type="tns:money"/>
					<xs:element minOccurs="0" name="status" type="xs:string"/>
					<xs:element minOccurs="0" name="modifiedDate" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="accountBlock">
				<xs:sequence>
					<xs:element minOccurs="0" name="checkbookId" type="xs:string"/>
					<xs:element minOccurs="0" name="checkId" type="xs:string"/>
					<xs:element minOccurs="0" name="type" type="tns:optionsList"/>
					<xs:element minOccurs="0" name="description" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="optionsList">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="payee">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element minOccurs="0" name="alias" type="xs:string"/>
					<xs:element minOccurs="0" name="identification" type="tns:identityDocument"/>
					<xs:element minOccurs="0" name="account" type="tns:Account"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="identityDocument">
				<xs:sequence>
					<xs:element minOccurs="0" name="type" type="xs:string"/>
					<xs:element minOccurs="0" name="number" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LoanMovement">
				<xs:sequence>
					<xs:element minOccurs="0" name="transactionDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="creditEquity" type="tns:money"/>
					<xs:element minOccurs="0" name="currentInterest" type="xs:decimal"/>
					<xs:element minOccurs="0" name="arrearsInterest" type="xs:decimal"/>
					<xs:element minOccurs="0" name="settingReassessment" type="xs:decimal"/>
					<xs:element minOccurs="0" name="otherExpenses" type="xs:decimal"/>
					<xs:element minOccurs="0" name="totalAmountPaid" type="xs:decimal"/>
					<xs:element minOccurs="0" name="balanceEquity" type="xs:decimal"/>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="concept" type="xs:string"/>
					<xs:element minOccurs="0" name="subProduct" type="xs:string"/>
					<xs:element name="office" type="xs:int"/>
					<xs:element name="calculationCode" type="xs:int"/>
					<xs:element minOccurs="0" name="calculationdesc" type="xs:string"/>
					<xs:element name="codeRate" type="xs:int"/>
					<xs:element minOccurs="0" name="descriptionRate" type="xs:string"/>
					<xs:element minOccurs="0" name="initialCost" type="xs:decimal"/>
					<xs:element name="term" type="xs:int"/>
					<xs:element minOccurs="0" name="balanceDue" type="xs:decimal"/>
					<xs:element minOccurs="0" name="activationDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="systemDate" type="xs:dateTime"/>
					<xs:element name="cancan" type="xs:int"/>
					<xs:element name="canon" type="xs:int"/>
					<xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="rate" type="xs:decimal"/>
					<xs:element minOccurs="0" name="subscriptionCapital" type="xs:decimal"/>
					<xs:element minOccurs="0" name="interestedPaid" type="xs:decimal"/>
					<xs:element minOccurs="0" name="totalCanon" type="xs:decimal"/>
					<xs:element minOccurs="0" name="valueBalance" type="xs:decimal"/>
					<xs:element minOccurs="0" name="otherCanon" type="xs:decimal"/>
					<xs:element minOccurs="0" name="valIva" type="xs:decimal"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="MortageState">
				<xs:sequence>
					<xs:element minOccurs="0" name="aprovementState" type="xs:string"/>
					<xs:element minOccurs="0" name="customerName" type="xs:string"/>
					<xs:element minOccurs="0" name="actualPhase" type="xs:string"/>
					<xs:element minOccurs="0" name="phaseBeginDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="managerExecutive" type="xs:string"/>
					<xs:element minOccurs="0" name="comments" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="prestamos" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RotaryQuotaMove">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="operation" type="tns:Operation"/>
					<xs:element minOccurs="0" name="concept" type="xs:string"/>
					<xs:element minOccurs="0" name="transactionDate" type="xs:string"/>
					<xs:element minOccurs="0" name="status" type="xs:string"/>
					<xs:element minOccurs="0" name="value" type="tns:money"/>
					<xs:element minOccurs="0" name="deb" type="tns:Balance"/>
					<xs:element minOccurs="0" name="numberOfQuotas" type="xs:int"/>
					<xs:element minOccurs="0" name="remainingQuotas" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LeasingResume">
				<xs:sequence>
					<xs:element minOccurs="0" name="description" type="xs:string"/>
					<xs:element minOccurs="0" name="office" type="xs:string"/>
					<xs:element minOccurs="0" name="totalBalance" type="tns:money"/>
					<xs:element minOccurs="0" name="totalContractBalance" type="tns:money"/>
					<xs:element minOccurs="0" name="totalBalanceFee" type="tns:money"/>
					<xs:element minOccurs="0" name="calculationCode" type="xs:string"/>
					<xs:element minOccurs="0" name="rateCode" type="xs:string"/>
					<xs:element minOccurs="0" name="initialTerm" type="xs:string"/>
					<xs:element minOccurs="0" name="paidFees" type="xs:string"/>
					<xs:element minOccurs="0" name="initialCost" type="tns:money"/>
					<xs:element minOccurs="0" name="dateBalance" type="tns:money"/>
					<xs:element minOccurs="0" name="initialRateDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="initialDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LoanTransactionFilter">
				<xs:sequence>
					<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LoanResume">
				<xs:sequence>
					<xs:element minOccurs="0" name="description" type="xs:string"/>
					<xs:element minOccurs="0" name="office" type="xs:string"/>
					<xs:element minOccurs="0" name="totalAmountOwed" type="tns:money"/>
					<xs:element minOccurs="0" name="creditBalance" type="tns:money"/>
					<xs:element minOccurs="0" name="totalExpired" type="tns:money"/>
					<xs:element minOccurs="0" name="totalDisbursed" type="tns:money"/>
					<xs:element minOccurs="0" name="paymentDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="paidFees" type="xs:int"/>
					<xs:element minOccurs="0" name="expiredFees" type="xs:int"/>
					<xs:element minOccurs="0" name="outstandingFees" type="xs:int"/>
					<xs:element minOccurs="0" name="disbursedDate" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="disbursedAmount" type="xs:string"/>
					<xs:element minOccurs="0" name="automaticAccountPayment" type="xs:string"/>
					<xs:element minOccurs="0" name="paymentMethod" type="xs:string"/>
					<xs:element minOccurs="0" name="term" type="xs:string"/>
					<xs:element minOccurs="0" name="equityFrequency" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="conditions" nillable="true" type="tns:condition"/>
					<xs:element minOccurs="0" name="interestFrequency" type="xs:string"/>
					<xs:element minOccurs="0" name="depreciationType" type="xs:string"/>
					<xs:element minOccurs="0" name="tin" type="xs:string"/>
					<xs:element minOccurs="0" name="tia" type="xs:string"/>
					<xs:element minOccurs="0" name="tcea" type="xs:string"/>
					<xs:element minOccurs="0" name="nextAssessment" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="paymentDay" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="condition">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:itemCondition"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="itemCondition">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="tns:itemConditionValue"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="itemConditionValue">
				<xs:sequence>
					<xs:element minOccurs="0" name="value" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="EnumThirdPartyType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="CUSTOMER"/>
					<xs:enumeration value="LEAD"/>
					<xs:enumeration value="AGGREGATE"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="EnumMessageType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ADVERTISEMENT"/>
					<xs:enumeration value="INFORMATION"/>
					<xs:enumeration value="NOTIFICATION"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com:bbva:jee:arq:spring:core:servicing:utils" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com:bbva:jee:arq:spring:core:servicing:utils">
			<xs:element name="money" type="tns:money"/>
			<xs:complexType name="money">
				<xs:sequence>
					<xs:element minOccurs="0" name="amount" type="xs:decimal"/>
					<xs:element minOccurs="0" name="currency" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</grammars>
	<resources base="http://150.250.140.41:7700/loan">
		<resource path="/V01" id="com.bbva.czic.loan.facade.v01.impl.SrvLoanV01">
			<resource path="/doLoanPayment">
				<method name="POST" id="doLoanPayment">
					<request>
						<representation mediaType="application/json" element="prefix1:LoanPayment"/>
					</request>
					<response>
						<representation mediaType="application/json" element="prefix1:Movement"/>
					</response>
				</method>
			</resource>
			<resource path="/getLeasingResume/{idLoan}">
				<param name="idLoan" style="template" type="xs:string"/>
				<method name="GET" id="getLeasingResume">
					<request/>
					<response>
						<representation mediaType="application/json" element="prefix1:LeasingResume"/>
					</response>
				</method>
			</resource>
			<resource path="/getLoanResume/{idLoan}">
				<param name="idLoan" style="template" type="xs:string"/>
				<method name="GET" id="getLoanResume">
					<request>
						<param name="indConsulta" style="query" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json" element="prefix1:LoanResume"/>
					</response>
				</method>
			</resource>
			<resource path="/getMortageState/{idLoan}">
				<param name="idLoan" style="template" type="xs:string"/>
				<method name="GET" id="getMortageState">
					<request/>
					<response>
						<representation mediaType="application/json" element="prefix1:MortageState"/>
					</response>
				</method>
			</resource>
			<resource path="/listLoanTransaction/{loanId}">
				<param name="loanId" style="template" type="xs:string"/>
				<method name="POST" id="listLoanTransaction">
					<request>
						<representation mediaType="application/json" element="prefix1:LoanTransactionFilter"/>
					</request>
					<response>
						<representation mediaType="application/json" element="prefix1:LoanMovements"/>
					</response>
				</method>
			</resource>
			<resource path="/rotaryQuota/{idLoan}">
				<param name="idLoan" style="template" type="xs:string"/>
				<method name="GET" id="getRotaryQuota">
					<request/>
					<response>
						<representation mediaType="application/json" element="prefix1:Loan"/>
					</response>
				</method>
			</resource>
			<resource path="/rotaryQuota/{idLoan}/movement/{idMovement}">
				<param name="idLoan" style="template" type="xs:string"/>
				<param name="idMovement" style="template" type="xs:string"/>
				<method name="GET" id="getRotaryQuotaMovement">
					<request/>
					<response>
						<representation mediaType="application/json" element="prefix1:RotaryQuotaMove"/>
					</response>
				</method>
			</resource>
			<resource path="/rotaryQuota/{loanId}/movements">
				<param name="loanId" style="template" type="xs:string"/>
				<method name="GET" id="listRotaryQuotaMovements">
					<request>
						<param name="paginationKey" style="query" type="xs:string"/>
						<param name="pageSize" style="query" type="xs:int"/>
						<param name="$filter" style="query" default="null" type="xs:string"/>
					</request>
					<response>
						<representation mediaType="application/json" element="prefix1:Movements"/>
					</response>
				</method>
			</resource>
			<resource path="/setAutomaticPayment">
				<method name="POST" id="setAutomaticPayment">
					<request>
						<representation mediaType="application/json" element="prefix1:LoanPayment"/>
					</request>
					<response>
						<representation mediaType="application/json"/>
					</response>
				</method>
			</resource>
		</resource>
	</resources>
</application>