webservices/src/main/resources/wadl/scheduledOperation.wadl

<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:prefix1="http://bbva.com/zic/scheduledOperations/V01"><grammars><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bbva.com/eiaq/commons/V01" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://bbva.com/eiaq/commons/V01">
    <xs:import/>
    <xs:element name="bank" type="tns:bank"/>
    <xs:element name="bankModule" type="tns:bankModule"/>
    <xs:element name="cardNumber" type="tns:cardNumber"/>
    <xs:element name="ccc" type="tns:ccc"/>
    <xs:element name="clabe" type="tns:clabe"/>
    <xs:element name="creditNumber" type="tns:creditNumber"/>
    <xs:element name="identityDocument" type="tns:identityDocument"/>
    <xs:element name="mobilePhoneNumber" type="tns:mobilePhoneNumber"/>
    <xs:complexType name="cardNumber">
        <xs:sequence>
            <xs:element minOccurs="0" name="number" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="bank">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="cecobanCode" type="xs:string"/>
            <xs:element minOccurs="0" name="speiCode" type="xs:string"/>
            <xs:element minOccurs="0" name="modules" type="tns:bankModule"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="bankModule">
        <xs:sequence>
            <xs:element minOccurs="0" name="clabe" type="xs:boolean"/>
            <xs:element minOccurs="0" name="clabeNextDay" type="xs:boolean"/>
            <xs:element minOccurs="0" name="clabeSameDay" type="xs:boolean"/>
            <xs:element minOccurs="0" name="creditCard" type="xs:boolean"/>
            <xs:element minOccurs="0" name="debitCard" type="xs:boolean"/>
            <xs:element minOccurs="0" name="debitCardNextDay" type="xs:boolean"/>
            <xs:element minOccurs="0" name="debitCardSameDay" type="xs:boolean"/>
            <xs:element minOccurs="0" name="loan" type="xs:boolean"/>
            <xs:element minOccurs="0" name="none" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ccc">
        <xs:sequence>
            <xs:element minOccurs="0" name="bankCode" type="xs:string"/>
            <xs:element minOccurs="0" name="branchCode" type="xs:string"/>
            <xs:element minOccurs="0" name="controlDigit" type="xs:string"/>
            <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="clabe">
        <xs:sequence>
            <xs:element minOccurs="0" name="bankCode" type="xs:string"/>
            <xs:element minOccurs="0" name="regionCode" type="xs:string"/>
            <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="controlDigit" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="creditNumber">
        <xs:sequence>
            <xs:element minOccurs="0" name="number" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="mobilePhoneNumber">
        <xs:sequence>
            <xs:element minOccurs="0" name="number" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="identityDocument">
        <xs:sequence>
            <xs:element minOccurs="0" name="type" type="enumIdentityDocumentType"/>
            <xs:element minOccurs="0" name="number" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://bbva.com/zic/scheduledOperations/V01" xmlns:ns1="http://bbva.com/eiaq/commons/V01" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://bbva.com/zic/scheduledOperations/V01">
    <xs:import namespace="http://bbva.com/eiaq/commons/V01"/>
    <xs:element name="subjectFormat" type="adaptedISubjectFormat"/>
    <xs:complexType name="adaptedISubjectFormat">
        <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:cardNumber"/>
            <xs:element minOccurs="0" ref="ns1:ccc"/>
            <xs:element minOccurs="0" ref="ns1:clabe"/>
            <xs:element minOccurs="0" ref="ns1:creditNumber"/>
            <xs:element minOccurs="0" ref="ns1:mobilePhoneNumber"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="enumFunctionStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TEST"/>
            <xs:enumeration value="NO_VALUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="enumIdentityDocumentType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RFC"/>
            <xs:enumeration value="NO_VALUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="enumScheduledOperationDayType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FESTIVE"/>
            <xs:enumeration value="NATURAL"/>
            <xs:enumeration value="DISABLED"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="enumScheduledOperationStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPERATION_APPLIED"/>
            <xs:enumeration value="CANCELED"/>
            <xs:enumeration value="CANCELLED_BY_SYSTEM"/>
            <xs:enumeration value="SCHEDULED_OF_PROCESS"/>
            <xs:enumeration value="NO_PROCESSED"/>
            <xs:enumeration value="PROCESSED_WITH_ERROR"/>
            <xs:enumeration value="PROCESSED"/>
            <xs:enumeration value="OPERATION_EXPIRED"/>
            <xs:enumeration value="OPERATION_CANCELLED"/>
            <xs:enumeration value="OPERATION_CHARGED"/>
            <xs:enumeration value="CURRENT_OPERATION"/>
            <xs:enumeration value="NO_VALUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="enumScheduledOperationFrequent">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WEEKLY"/>
            <xs:enumeration value="BIWEEKLY"/>
            <xs:enumeration value="MONTHLY"/>
            <xs:enumeration value="BIMONTHLY"/>
            <xs:enumeration value="THREEMONTHLY"/>
            <xs:enumeration value="FOURMONTHLY"/>
            <xs:enumeration value="NO_VALUE"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://bbva.com/eiaq/commons/V01" xmlns:tns="http://bbva.com/zic/commons/V01" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://bbva.com/zic/commons/V01">
    <xs:import namespace="http://bbva.com/eiaq/commons/V01"/>
    <xs:import/>
    <xs:element name="contract" type="tns:contract"/>
    <xs:element name="function" type="tns:function"/>
    <xs:element name="operation" type="tns:operation"/>
    <xs:element name="userId" type="tns:userId"/>
    <xs:complexType name="operation">
        <xs:sequence>
            <xs:element minOccurs="0" ref="tns:contract"/>
            <xs:element minOccurs="0" name="user" type="tns:userId"/>
            <xs:element minOccurs="0" ref="tns:function"/>
            <xs:element minOccurs="0" name="amount" type="xs:string"/>
            <xs:element minOccurs="0" name="operationType" type="xs:string"/>
            <xs:element minOccurs="0" ref="ns1:bank"/>
            <xs:element minOccurs="0" name="originSubject" type="xs:iSubjectFormat"/>
            <xs:element minOccurs="0" name="originSubjectType" type="xs:string"/>
            <xs:element minOccurs="0" name="beneficiarySubject" type="xs:iSubjectFormat"/>
            <xs:element minOccurs="0" name="beneficiarySubjectType" type="xs:string"/>
            <xs:element minOccurs="0" name="beneficiaryName" type="xs:string"/>
            <xs:element minOccurs="0" name="paymentReference" type="xs:string"/>
            <xs:element minOccurs="0" name="alias" type="xs:string"/>
            <xs:element minOccurs="0" name="paymentInterbankReferenceNumber" type="xs:string"/>
            <xs:element minOccurs="0" name="folioOperation" type="xs:string"/>
            <xs:element minOccurs="0" name="paymentReason" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="contract">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="card" type="ns1:cardNumber"/>
            <xs:element minOccurs="0" name="businessName" type="xs:string"/>
            <xs:element minOccurs="0" name="fundsCenter" type="xs:string"/>
            <xs:element minOccurs="0" name="fundsUnit" type="xs:string"/>
            <xs:element minOccurs="0" name="status" type="xs:string"/>
            <xs:element minOccurs="0" name="category" type="xs:string"/>
            <xs:element minOccurs="0" name="profile" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="userId">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:string"/>
            <xs:element minOccurs="0" name="parentUserId" type="xs:string"/>
            <xs:element minOccurs="0" name="contractId" type="xs:string"/>
            <xs:element minOccurs="0" name="accessMethod" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="function">
        <xs:sequence>
            <xs:element minOccurs="0" name="code" type="xs:string"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="keyword" type="xs:string"/>
            <xs:element minOccurs="0" name="status" type="enumFunctionStatus"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://bbva.com/zic/commons/V01" xmlns:ns2="http://bbva.com/eiaq/commons/V01" xmlns:tns="http://bbva.com/zic/scheduledOperations/V01" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://bbva.com/zic/scheduledOperations/V01">
    <xs:import namespace="http://bbva.com/zic/commons/V01"/>
    <xs:import namespace="http://bbva.com/eiaq/commons/V01"/>
    <xs:import/>
    <xs:element name="createScheduledOperationsIn" type="tns:createScheduledOperationsIn"/>
    <xs:element name="createScheduledOperationsOut" type="tns:createScheduledOperationsOut"/>
    <xs:element name="getScheduledOperationOut" type="tns:getScheduledOperationOut"/>
    <xs:element name="listScheduledOperationsOut" type="tns:listScheduledOperationsOut"/>
    <xs:element name="operationIndicators" type="tns:operationIndicators"/>
    <xs:element name="operationInfo" type="tns:operationInfo"/>
    <xs:element name="scheduledOperation" type="tns:scheduledOperation"/>
    <xs:element name="updateScheduledOperationIn" type="tns:updateScheduledOperationIn"/>
    <xs:element name="updateScheduledOperationOut" type="tns:updateScheduledOperationOut"/>
    <xs:complexType name="createScheduledOperationsOut">
        <xs:sequence>
            <xs:element minOccurs="0" name="folio" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="createScheduledOperationsIn">
        <xs:sequence>
            <xs:element minOccurs="0" ref="tns:scheduledOperation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="scheduledOperation">
        <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:operation"/>
            <xs:element minOccurs="0" name="clientType" type="xs:string"/>
            <xs:element minOccurs="0" name="totalPayments" type="xs:int"/>
            <xs:element minOccurs="0" name="beneficiaryVacancy" type="xs:string"/>
            <xs:element minOccurs="0" name="RFCThird" type="ns2:identityDocument"/>
            <xs:element minOccurs="0" name="IVAAmount" type="xs:string"/>
            <xs:element minOccurs="0" name="remainingPayments" type="xs:int"/>
            <xs:element minOccurs="0" name="paymentsMade" type="xs:int"/>
            <xs:element minOccurs="0" name="originAccountCurrency" type="xs:string"/>
            <xs:element minOccurs="0" name="targetAccountCurrency" type="xs:string"/>
            <xs:element minOccurs="0" name="indicators" type="tns:operationIndicators"/>
            <xs:element minOccurs="0" ref="tns:operationInfo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="operationIndicators">
        <xs:sequence>
            <xs:element minOccurs="0" name="dayType" type="enumScheduledOperationDayType"/>
            <xs:element minOccurs="0" name="restart" type="xs:string"/>
            <xs:element minOccurs="0" name="transaction" type="xs:boolean"/>
            <xs:element minOccurs="0" name="highAvailability" type="xs:boolean"/>
            <xs:element minOccurs="0" name="dayPayment" type="xs:string"/>
            <xs:element minOccurs="0" name="signature" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="operationInfo">
        <xs:sequence>
            <xs:element minOccurs="0" name="status" type="enumScheduledOperationStatus"/>
            <xs:element minOccurs="0" name="operationRegisterDate" type="xs:string"/>
            <xs:element minOccurs="0" name="operationDate" type="xs:string"/>
            <xs:element minOccurs="0" name="frequentOperation" type="enumScheduledOperationFrequent"/>
            <xs:element minOccurs="0" name="startDate" type="xs:string"/>
            <xs:element minOccurs="0" name="endDate" type="xs:string"/>
            <xs:element minOccurs="0" name="errorCode" type="xs:string"/>
            <xs:element minOccurs="0" name="errorDescription" type="xs:string"/>
            <xs:element minOccurs="0" name="referenceDescription" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="updateScheduledOperationOut">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="updateScheduledOperationIn">
        <xs:sequence>
            <xs:element minOccurs="0" ref="tns:scheduledOperation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="listScheduledOperationsOut">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="scheduledOperationsList" nillable="true" type="tns:scheduledOperation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="getScheduledOperationOut">
        <xs:sequence>
            <xs:element minOccurs="0" ref="tns:scheduledOperation"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
</grammars><resources base="http://localhost:8080/zic/scheduledOperations"><resource path="/V01" id="com.bbva.zic.scheduledoperations.facade.v01.impl.SrvScheduledOperationsV01"><method name="GET" id="listScheduledOperations"><request><param name="$filter" style="query" type="xs:string"/></request><response><representation mediaType="application/json" element="prefix1:listScheduledOperationsOut"/></response></method><method name="POST" id="createScheduledOperation"><request><representation mediaType="application/json" element="prefix1:createScheduledOperationsIn"/></request><response><representation mediaType="application/json" element="prefix1:createScheduledOperationsOut"/></response></method><resource path="/{referenceOperation}"><param name="referenceOperation" style="template" type="xs:string"/><method name="DELETE" id="deleteScheduledOperation"><request><param name="attributesdeletelist" style="header" type="xs:string"/></request><response><representation mediaType="application/json"/></response></method></resource><resource path="/{scheduledOperationId}"><param name="scheduledOperationId" style="template" type="xs:string"/><method name="GET" id="getScheduledOperation"><request><param name="$filter" style="query" type="xs:string"/></request><response><representation mediaType="application/json" element="prefix1:getScheduledOperationOut"/></response></method></resource><resource path="/{scheduledOperationId}"><param name="scheduledOperationId" style="template" type="xs:string"/><method name="PUT" id="updateScheduledOperation"><request><representation mediaType="application/json" element="prefix1:updateScheduledOperationIn"/></request><response><representation mediaType="application/json" element="prefix1:updateScheduledOperationOut"/></response></method></resource></resource></resources></application>